/* root */
:root{
    --black-text-color: #111111;
    --white-text-color: #eee5e9;
    --dark-bg-color: #111111;
    --light-bg-color: #eee5e9;
    --error-color: #d90429;
    --highlight-dark: #92dce5;
    --highlight-light: #0eb1d2;
}

/* ids */
body {
    margin: 0;
}

/* classes */
.startMenu {
    margin: auto;
    /* TODO: move below to desktop/landscape query */
    /* max-width: 75vw; */
    width: 100vw;
    height: 100vh;
    
    background-color: var(--dark-bg-color);
}