/* root */
:root{
    --black-text-color: #111111;
    --white-text-color: #eee5e9;
    --dark-bg-color: #111111;
    --light-bg-color: #eee5e9;
    --error-color: #d90429;
    --highlight-dark: #92dce5;
    --highlight-light: #0eb1d2;
}

/* animations */

@keyframes wiggle {
    from {
        transform: rotate(-22.5deg);
    }
    to {
        transform: rotate(22.5deg);
    }
}

/* ids */
body {
    margin: 0;
}

/* classes */
.startMenu {
    margin: auto;
    /* TODO: move below to desktop/landscape query */
    /* max-width: 75vw; */
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    background-color: var(--dark-bg-color);
}

.startMenu > .imageHeader {
    margin: auto;
    margin-top: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 75%;
}

.imageHeader > img {
    height: 7.5vh;

    object-fit: contain;

    animation: wiggle 1s ease-in-out infinite alternate;
}